# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build files (keep folders, ignore builds)
android/.gradle/
android/app/build/
android/build/

ios/Pods/
ios/build/

# Kotlin / Gradle
.kotlin/

# Certificates / Keys (VERY IMPORTANT to ignore)
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# local env files
.env*.local

# typescript
*.tsbuildinfo

# misc
*.orig.*

# example apps
app-example